:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #050505;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff; 
}

/* Text Selection Color */
::selection {
  background: rgba(0, 240, 255, 0.3); /* Cyan selection */
  color: white;
}